.env
.ipynb_checkpoints/
chat_histories/
.vscode/
chats/
chat_history*
.jupyter_ystore.db
*.chat
*workspace
log*
.venv/
jupyterlab/
venv/
chatbot/
!log_processor
!log_processor/**
__pycache__/
output/