.env
.ipynb_checkpoints/
chat_histories/
.vscode/
chats/
chat_history*
.jupyter_ystore.db
*.chat
*workspace
log*
.venv/
jupyterlab/
__pycache__/
venv/
chatbot/
analysis/
dspy-eval/
__pycache__
.python-version
*.egg-info/
*.egg

/jupyterhub-docker/middleware/venv/
/jupyterhub-docker/middleware/llm-handler/
/jupyterhub-docker/user-notebook/user-venv/
*group_assignments.json

